<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<br/>
<div sec:authorize="hasAnyRole('ADMIN','LIBRARIAN')">
    <a href="showReaders" >Show readers</a>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <a href="showLibrarians">Show librarians</a>
</div>

</body>

</html>