<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Librarians</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<h2>List of librarians</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    <tr th:each="librarian : ${librarians}">
        <td th:text="${librarian.id}">id</td>
        <td th:text="${librarian.name}">name</td>
        <td th:text="${librarian.surname}">price</td>
        <td><a href="deleteLibrarian" th:href="@{/deleteLibrarian/__${librarian.id}__}" sec:authorize="hasRole('ADMIN')">Delete</a></td>
    </tr>
</table>

<a href="addLibrarian" sec:authorize="hasRole('ADMIN')">Add librarian</a>

</body>

</html>